DOWNLINK_HOST=localhost
DOWNLINK_PORT=50051
DOWNLINK_TLS=false
DOWNLINK_CERT_FILE=
DOWNLINK_KEY_FILE=
DOWNLINK_REFRESH=false
DOWNLINK_LOG_LEVEL=info
DOWNLINK_AUTO_START_LIGHTPANDA=false
DOWNLINK_AUTO_START_SOLIMEN=false
DOWNLINK_SOLIMEN_ADDR=http://localhost:5011
DOWNLINK_MAX_CONCURRENT_LLM_REQUESTS=1
DOWNLINK_GH_PAGES_ENABLED=false
DOWNLINK_GH_PAGES_REPO=https://github.com/user/repo.git
DOWNLINK_GH_PAGES_BRANCH=main
DOWNLINK_GH_PAGES_CONFIGURE=false
DOWNLINK_GH_PAGES_TOKEN=
DOWNLINK_GH_PAGES_OUTPUT_DIR=
DOWNLINK_GH_PAGES_BASE_URL=https://user.github.io
DOWNLINK_GH_PAGES_COMMIT_AUTHOR=
DOWNLINK_GH_PAGES_COMMIT_EMAIL=
DOWNLINK_GH_PAGES_CLONE_DIR=
DOWNLINK_GH_PAGES_DISCORD_WEBHOOK=
