/** {box-shadow: none !important; text-shadow: none !important}*/

    .hud-frame-primary {
        box-shadow: 0px 0px 5px var(--primary-glow) !important;
    }

    .hud-frame-delete {
        box-shadow: 0px 0px 5px var(--delete) !important;
    }

    .hud-dot-green {
        box-shadow: 0px 0px 8px #22c55e;
    }

    .hud-dot-amber {
        box-shadow: 0px 0px 8px #f59e0b;
    }

    .hud-dot-red {
        box-shadow: 0px 0px 8px #ef4444;
    }


    .hud-text-disabled {
        text-shadow: 0px 0px 2px var(--muted);
    }

    .hud-text-muted {
        text-shadow: 0px 0px 2px var(--muted);
    }

    .hud-text-primary {
        text-shadow: 0px 0px 3px var(--primary-glow);
    }

    .hud-text-secondary {
        text-shadow: 0px 0px 2px var(--secondary);
    }

    .hud-caption {
        text-shadow: 0px 0px 1px var(--primary-glow);
    }

    .hud-icon-secondary {
        filter: drop-shadow(0px 0px 5px var(--secondary));
    }

    .hud-icon-success {
        filter: drop-shadow(0px 0px 5px var(--success));
    }

    .hud-icon-primary {
        filter: drop-shadow(0px 0px 5px var(--primary-glow));
    }

    .hud-icon-delete {
        filter: drop-shadow(0px 0px 2px var(--delete));
    }

    .hud-icon-warning {
        filter: drop-shadow(0px 0px 2px var(--warning));
    }

    .hud-icon-muted {
        filter: drop-shadow(0px 0px 2px var(--muted));
    }

    .hud-icon-white {
        filter: drop-shadow(0px 0px 2px #fff);
    }
